.header-section {
  display: flex;
  h1 {
    width: 279px;
  }
  h2 {
    padding-left: 10px;
  }
}
h1,
h2,
h3 {
  color: #fff;
}

.hidden {
  display: none;
}

.container-search-result {
  position: relative;
  background-color: #141414;
  width: calc(100% - 20px);
  top: -10px;
  padding-top: 10px;
  padding-left: 20px;

  &.bar-container {
    margin-bottom: 30px;
  }

  .searchResult {
    padding: 0;
    width: 300px;
    
    li {
      display: flex;
      color: #fff;
      margin-bottom: 30px;

      &:hover {
        background-color: #323232;
      }
      article {
        display: flex;
        flex-direction: column;

        span {
          margin-left: 20px;
          font-size: 10px;

          &:first-child {
            font-weight: bold;
            text-transform: capitalize;
            margin-bottom: 6px;
            margin-top: 4px;
          }

          &:last-child {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
